@using PCS.DataRepository.DataContracts
@using DataRepository.DataContracts
@{
    ViewBag.Title = "Approve Support Requests";
    List<StudentMenuItem> menu = ViewBag.menu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
}

<div id="column-left">

    <a class="logo" href="#" title=""><img src="../images/logo.png" width="229" height="120" alt="" /></a>
    <div style="text-align:center;">
        <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
    <ul class="intelli-mainmenu" id="mainMenu">
        @foreach (StudentMenuItem item in menu)
        {
            <li><a href="@(Url.Action(item.href))" title=''>@(item.text)</a></li>
        }
    </ul>
    <div class="intelli-copy">
        <span>Developed by</span>
        <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="../images/logoIntellimedia.png" width="131" height="23" alt="" /></a>
    </div>
</div><!-- /left column -->

<div id="column-right">
    <div data-role="content" id="content">
        <div class="intelli-content intelli-tabs">
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                <h3>Approve Support Requests</h3>
            </div>
            <div class="intelli-main-content ui-body ui-body-a">
                <div id="approveTable"></div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

@section pageJS{
    <script type="text/javascript">
    var beginContent;

    $(document).ready(function () {
        $.get('@(Url.Action("ApproveSupportGet"))', {}, function (result) {
                console.log(result);
                createKendoGrid(result.Data);
            }, 'json');
        })

        function createKendoGrid(results) {
            $("#approveTable").empty();
            $("#approveTable").kendoGrid({
                dataSource: {
                    data: results,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                StudentName: { type: "string" },
                                RequestedBy: { type: "string" },
                                Specialities: { type: "string" },
                                DateOfRequest: { type: "date" }
                            }
                        }
                    },
                    pageSize: 20
                },
                pageable: true,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                scrollable: false,
                columns: [
                    {
                        hidden: true,
                        field: "Id",
                        attributes: { 'id': 'idCol' }
                    },
                    {
                        title: "STUDENT NAME",
                        field: "StudentName",
                        width: 120,
                        template: '<a href="@(Url.Action("ApproveSupportEdit"))?id=#=Id#">#=StudentName#</a>'
                    },
                    {
                        title: "REQUESTED BY NAME",
                        field: "RequestedBy",
                        width: 120,
                    },
                    {
                        title: "SPECIALITIES",
                        field: "Specialities",
                        width: 120,
                    },
                    {
                        title: "DATE",
                        field: "DateOfRequest",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 180,
                        filterable: false,
                        template: "#= kendo.toString(kendo.parseDate(DateOfRequest, 'yyyy-MM-dd'), 'MMMM dd, yyyy') #"
                    }
                ]
            });
        }
    </script>
}
