@model UserForm
@using System.Collections
@using DataRepository.DataContracts
@using PCSMvc.Models
@{
    ViewBag.Title = "DistrictSysAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OrganizationSettingsForm orgSettings = ViewBag.orgSettings;
    
}
<div class="intelli-manager">
    <div data-role="page" class="wrapper-content">
        <div id="column-left">
            <a class="logo" href="#" title="">
                <img src="/images/logo-dictrict.png" width="229" height="120" alt="" /></a>
                <div style="text-align:center;">
        <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
            <ul class="intelli-mainmenu">
                <li><a href="@(Url.Action("DistrictSysAdmin"))" title="">Settings</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminSchools"))" title="">Schools</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminStaff"))" title="">Staff</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminStudents"))" title="">Students</a></li>
            </ul>
            
            <div class="intelli-copy">
                <span>Developed by</span> <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc.">
                    <img src="/images/logoIntellimedia.png" with="131" height="23" alt="" /></a>
            </div>
        </div>
        <!-- /left column -->
        <div id="column-right">
            <div data-role="content">
                <div class="intelli-content">
                    <div class="intelli-main-content-header ui-bar ui-bar-a">
                        <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                        <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                        <h3>
                            Data Settings</h3>
                    </div>
                    
                    <div class="intelli-main-content ui-body ui-body-a">                                                                                     	
               		
                    <p>
                    	
                        <input type="hidden" value="@orgSettings.Id" id="id" />
                        <input type="hidden" value="@orgSettings.OrganizationId" id="organizationId" />
                        	<ul class="checkboxes">
                            	<li><input type="radio" name="type" id="type1" value="sync" @(orgSettings.Sync?"checked = \"checked\"":"") data-role="none"/><label>Sync</label></li>
                                <li><input type="radio" name="type" id="type2" value="import" @(!orgSettings.Sync?"checked = \"checked\"":"")   data-role="none"/><label>Import</label></li>
                            </ul>
                        	
                        
                    </p> 
                    <div id="syncSettings" style="display:@(orgSettings.Sync?"block":"none");">
                    	<div style="background:#f8f8f8; border-radius:5px; padding:30px;">
                        	<ul class="intelli-simple-list">
                                <li><label>PowerSchool URL:</label><input id="powerSchoolUrl" class="intelli-textfield" type="text" value="@orgSettings.PowerSchoolUrl"/></li>
                                <li><label>Client ID:</label><input id="clientId" class="intelli-textfield" type="text" value="@orgSettings.ClientId"/></li>
                                <li><label>Client Secret:</label><input id="clientSecret" class="intelli-textfield" type="text" value="@orgSettings.ClientSecret"/></li>    
                                <li><a href="javascript:;" id="testSync" style="padding-right:35px;">Test Sync</a><span id="syncError" style="display:none;color:Red;">Sync Test Failed</span><span id="syncSuccess" style="display:none;color:Green;">Sync Test Succeeded</span></li>            
                            </ul>
                            
                        </div>
                    </div>  
                    <a href="javascript:;" id="btnSave" class="intelli-btn-save intelli-btn-popupsave" style="margin-top:10px;">Save</a>
                    <a href="javascript:;" id="btnCancel" class="intelli-btn-cancel intelli-btn-popupsave" style="margin-top:10px;">Cancel</a>
                  
               </div>




                </div>
            </div>
            <!-- /content -->
        </div>
        <div class="clear">
        </div>
    </div>
</div>

@section pageJS{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:radio[name=type]').click(function () {
                var val = $('input:radio[name=type]:checked').val();
                if (val == "sync") {
                    $("#syncSettings").show();
                    //dataTypeSetting = "sync";
                }
                else {

                    $("#syncSettings").hide();
                    //dataTypeSetting = "import";
                }
            });


            $("#btnSave").click(function (e) {

                LoadingFormOpen();
                $.post('@(Url.Action("OrganizationSettingsUpdate"))', OrganizationSettingsFormGet(), function (data) {
                    if (data.Result.Type == 0) {
                        
                    }
                    LoadingFormClose();
                }, 'json');
            });

            $("#btnCancel").click(function (e) {
                location.reload(); 
               
            });


            $("#testSync").click(function (e) {

                LoadingFormOpen();
                $.get('@(Url.Action("OrganizationSettingsSyncTest"))', function (result) {

                    if (result.Result.Type == 0) {
                        $("#syncError").hide();
                        $("#syncSuccess").show();
                    }
                    else {
                        $("#syncError").show();
                        $("#syncSuccess").hide();
                    }
                }, 'json');
            });

            function OrganizationSettingsFormGet() {
                return {
                    Id: $("#id").val(),
                    OrganizationId: $("#organizationId").val(),
                    Sync: ($('input:radio[name=type]:checked').val() == "sync" ? true : false),
                    PowerSchoolUrl: $("#powerSchoolUrl").val(),
                    ClientId: $("#clientId").val(),
                    ClientSecret: $("#clientSecret").val()
                };
            }


        });
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
