@model UserForm
@using DataRepository.DataContracts
@{
    ViewBag.Title = "DistrictSysAdminStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<IdTitle> schools = ViewBag.schools as List<IdTitle> ?? new List<IdTitle>();
}
<div class="intelli-manager">
    <div data-role="page" class="wrapper-content">
        <div id="column-left">
            <a class="logo" href="#" title="">
                <img src="/images/logo-dictrict.png" width="229" height="120" alt="" />
            </a>
            <div style="text-align: center;">
                <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
            <ul class="intelli-mainmenu">
                <li><a href="@(Url.Action("DistrictSysAdmin"))" title="">Settings</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminSchools"))" title="">Schools</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminStaff"))" title="">Staff</a></li>
                <li><a href="@(Url.Action("DistrictSysAdminStudents"))" title="">Students</a></li>
            </ul>
            <div class="intelli-copy">
                <span>Developed by</span> <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc.">
                    <img src="/images/logoIntellimedia.png" with="131" height="23" alt="" />
                </a>
            </div>
        </div>
        <!-- /left column -->
        <div id="column-right">
            <div data-role="content">
                <div class="intelli-content">
                    <div class="intelli-main-content-header ui-bar ui-bar-a">
                        <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                        <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                        <h3>
                            District and School Students
                        </h3>
                    </div>
                    <div class="intelli-main-content ui-body ui-body-a">
                        <p>
                            <div id="studentTable">
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /content -->
            <input name="importFiles" id="importFiles" type="file" />
            <textarea id="importResults" class="hidden" style="height: 200px!important;"></textarea>
        </div>
        <div class="clear">
        </div>
    </div>
</div>

@section pageJS{
    <script type="text/javascript">
        var schools;
        $(document).ready(function () {
            $("#importResults").hide();

            $("#importFiles").kendoUpload({
                async: {
                    saveUrl: "@(Url.Action("ImportStudents", "Home"))",
                    removeUrl: "@(Url.Action("ImportStudentsRemove", "Home"))",
                    autoUpload: false
                },
                select: function () {
                    $("#importResults").hide();
                },
                success: function (e) {
                    if (e.response.Data != null) {
                        $("#importResults").show().val(e.response.Data.join('\n'));
                    } else {
                        $("#importResults").hide();
                    }
                },
                multiple: false
            });

            getData();
        });

        function getData() {
            $.get('@(Url.Action("DistrictSysAdminStudentsGet"))', {}, function (result) {
                console.log(result);
                createKendoGrid(result.Data);
            }, 'json');
            $.get('@(Url.Action("OrganiztionSchoolsGet"))', {}, function (result) {
                console.log(result);
                schools = result.Data;
            }, 'json');
        }

        function createKendoGrid(results) {
            $("#studentTable").empty();
            $("#studentTable").kendoGrid({
                dataSource: {
                    data: results,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                School: { type: "string" },
                                StudentName: { type: "string" },
                                Gender: { type: "string" },
                                Dob: { type: "date" },
                                Grade: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                pageable: true,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            eq: "Is equal to"
                        }
                    }
                },
                scrollable: false,
                columns: [
                {
                    hidden: true,
                    field: "Id",
                    attributes: { 'id': '#=Id#' }
                },
                {
                    title: "SCHOOl",
                    field: "School",
                    //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                    width: 200,
                    filterable: {
                        ui: schoolFilter
                    }
                },
                {
                    title: "STUDENT NAME",
                    field: "StudentName",
                    //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                    filterable: false,
                    template: '<a href="@(Url.Action("DistrictSysAdminStudentInfo"))?id=#=Id#" title="Select">#= StudentName #</a>'
                },
                    {
                        title: "GENDER",
                        field: "Gender",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 200,
                        filterable: false
                    },
                    {
                        title: "DOB",
                        field: "Dob",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 200,
                        filterable: false,
                        template: "#= kendo.toString(kendo.parseDate(Dob, 'yyyy-MM-dd'), 'MMMM dd, yyyy') #"
                    },
                    {
                        title: "GRADE",
                        field: "Grade",
                        width: 200,
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        filterable: false
                    }
                ]
            });

            function schoolFilter(element) {
                element.kendoDropDownList({
                    dataSource: schools,
                    dataValueField: "Id",
                    dataTextField: "Title",
                    optionLabel: "--Select School--"
                });
            }
        }
    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}