@using DataRepository.DataContracts
@model OrganizationForm
@{
    ViewBag.Title = "Organization Update";
    Layout = "~/Views/Shared/_PCSManagerLayout.cshtml";
}
<div class="wrapper-content">
    <div id="column-right">
        <div data-role="content">
            <div class="intelli-content intelli-tabs">
                <ul class="intelli-tabs-panel" style="background: transparent;">
                    <li><a href="#intelli-tab-1">Info</a></li>
                </ul>
                <div class="intelli-main-content-header ui-bar ui-bar-a">
                    <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                    <h3>
                        Manage</h3>
                </div>
                <div class="intelli-main-content ui-body ui-body-a">
                    <div id="intelli-tab-1">
                        <p>
                            <a target="_self" rel="external" href="@(Url.Action("Organizations"))" class="intelli-btn-white ui-link">
                                &lt; Back To Organizations</a>
                        </p>
                        <p>
                            @using (Html.BeginForm("OrganizationUpdate"))
                            {
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m => m.Id)
                                <ul class="intelli-simple-list">
                                    <li>
                                        <label>
                                            District Name:</label>
                                        @Html.TextBoxFor(m => m.Title, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.Title)
                                    </li>
                                    <li>
                                        <label>
                                            Address:</label>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "intelli-textfield" })
                                    </li>
                                    <li>
                                        <label>
                                            City:</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "intelli-textfield" })
                                    </li>
                                    <li>
                                        <label>
                                            Province:</label>
                                        @Html.TextBoxFor(m => m.Province, new { @class = "intelli-textfield" })
                                    </li>
                                    <li>
                                        <label>
                                            Postal Code:</label>
                                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "intelli-textfield" })
                                    </li>
                                    <li>
                                        <label>
                                            Phone:</label>
                                        @Html.TextBoxFor(m => m.ContactPhone, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.ContactPhone)
                                    </li>
                                    <li>
                                        <label>
                                            Fax:</label>
                                        @Html.TextBoxFor(m => m.ContactFax, new { @class = "intelli-textfield" })
                                    </li>
                                    <li>
                                        <label>
                                            Email:</label>
                                        @Html.TextBoxFor(m => m.ContactEmail, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.ContactEmail)
                                    </li>
                                    <li>
                                        <label>
                                            Contact Name:</label>
                                        @Html.TextBoxFor(m => m.ContactName, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.ContactName)
                                    </li>
                                    <li>
                                        <label>
                                            <strong>ADMIN</strong></label></li>
                                    <li>
                                        <label>
                                            Username:</label>
                                        @Html.TextBoxFor(m => m.SystemUserName, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.SystemUserName)
                                    </li>
                                    <li>
                                        <button id="changePassword">
                                            Change Password</button>
                                    </li>
                                    <li class="changePasswordContainer hidden">
                                        <label>
                                            Password:</label>
                                        @Html.TextBoxFor(m => m.SystemPassword, new { @class = "intelli-textfield" })
                                        @*@Html.PasswordFor(m => m.Pwd, new { @class = "intelli-textfield" })*@
                                        @Html.ValidationMessageFor(m => m.SystemPassword)
                                    </li>
                                    <li class="changePasswordContainer hidden">
                                        <label>
                                            Confirm Password:</label>
                                        @Html.PasswordFor(m => m.SystemConfirmPassword, new { @class = "intelli-textfield" })
                                        @Html.ValidationMessageFor(m => m.SystemConfirmPassword)
                                    </li>
                                    <li>
                                        <button id="userSubmit" type="submit" class="hidden">
                                        </button>
                                    </li>
                                </ul>
                            }
                            <a href="javascript:;" id="orgSaveButton" class="intelli-btn-save intelli-btn-popupsave"
                                style="margin-top: 10px;">Save</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
    <div class="clear">
    </div>
</div>
@section pageJS{
    <script type="text/javascript">
        $(document).ready(function () {
            //masked text boxes (phone numbers and postal code)
            $("#ContactPhone").kendoMaskedTextBox({
                mask: "(999) 000-0000"
            });

            $("#ContactFax").kendoMaskedTextBox({
                mask: "(999) 000-0000"
            });

            $("#PostalCode").kendoMaskedTextBox({
                mask: "L0L0L0"
            });

            $("#changePassword").click(function () {
                changePasswordClick();
            });

            //if new - need create password
            if (@(Model.Id) < 0) {
                changePasswordClick();
//                $("#SystemPassword").val("");
//                $("#SystemConfirmPassword").val("");
            }

            function changePasswordClick() {
                $("#changePassword").parents("li:first").hide();
                $("#SystemPassword").attr("type", "password");
                $(".changePasswordContainer").show();
            }

            //Submit
            $("#orgSaveButton").click(function () {
                $("#userSubmit").click();
            });
        });    //document ready

    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
