@using System.Globalization
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_PCSManagerLayout.cshtml";
}
<div id="column-right">
    <div data-role="content">
        <div class="intelli-content">
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <h3>
                    FTE Settings</h3>
            </div>
            <div class="intelli-main-content ui-body ui-body-a">
                <p>
                    <div id="grid">
                    </div>
                </p>
                <p>
                    <a id="addNew" class="intelli-btn-white">Add New</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /content -->
</div>
<div id="editPopupWindow" class="intelli-popup-window intelli-window-poup-width"
    style="display: none;">
    <span class="title">FTE Settings</span> <a href="#" class="btclose"><span>Close Window</span></a>
    <div class="wrap">
        <input type="hidden" id="windowId" />
        <ul class="intelli-simple-list">
            <li>
                <label>
                    Month:</label>
                <select id="month" class="intelli-textfield" data-role="none">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@(i)">@(CultureInfo.InvariantCulture.DateTimeFormat.MonthNames[i - 1])</option>
                    }
                </select></li>
            <li>
                <label>
                    Year:</label>
                <select id="year" class="intelli-textfield" data-role="none">
                </select>
            </li>
            <li>
                <label>
                    FTE Hours:</label><input id="hours" class="intelli-textfield" type="text" value="" /></li>
        </ul>
        <a id="recordSave" class="intelli-btn-save intelli-btn-popupsave" style="margin-top: 10px;">
            Save</a> <a href="javascript:;" class="intelli-btn-cancel intelli-btn-popupsave"
                style="margin-top: 10px;">Cancel</a>
    </div>
</div>
@section pageJS{
    <script type="text/javascript">

        var valueKendo;
        $(document).ready(function() {
            getCurrentData();
            for (var i = 2010; i <= 2100; i++) {
                $("#year").append("<option value='" + i + "'>" + i + "</option>");
            }
            
            valueKendo = $("#hours").kendoNumericTextBox({
                format: "#",
                step: 1
            }).data("kendoNumericTextBox");

            $("#addNew").click(function () {
                openWindow(-1);
            });

            $("#recordSave").click(function() {
                $.post("@(Url.Action("SettingsUpdate"))", getWindowRecord(), function(result) {
                    if (result.Result.Type == 0) {
                        closeWindow();
                        getCurrentData();
                    }
                }, 'json');
            });

            $('.btclose').click(function() {
                closeWindow();
            });

            function closeWindow() {
                $(this).parent().css('display', 'none');
                $("div.lb_overlay").css('display', 'none');
            }

            $('.intelli-btn-popupsave').click(function() {
                $(this).parent().parent().css('display', 'none');
                $("div.lb_overlay").css('display', 'none');
                return false;
            });

            function getWindowRecord() {
                return {
                    Id: $("#windowId").val(),
                    Month: $("#month").val(),
                    Year: $("#year").val(),
                    Hours: valueKendo.value()
                };
            }
        });//document ready

        function openWindow(id) {
            if (id < 0) {
                clearWindow();
            } else { //init data in popup window
                initWindow(kendoDataSource.get(id));
            }
            $("#editPopupWindow").lightbox_me({
                centered: true,
                onLoad: function () {
                    $("#editPopupWindow select:first").focus();
                }
            });
        }

        function clearWindow() {
            $("#windowId").val(-1);
            $("#editPopupWindow input[type='text']").val("");
            valueKendo.value(0);
            $.each($("#editPopupWindow select"), function(iSel, sel) {
                var optionFirst = $(sel).find("option:first");
                if (optionFirst != null && optionFirst.length > 0) {
                    $(sel).val($(optionFirst).attr("value"));
                }
            });
        }

        function initWindow(data) {
            if (data != null) {
                $("#windowId").val(data.Id);
                $("#month").val(data.Month);
                $("#year").val(data.Year);
                valueKendo.value(data.Hours);
            }
        }

        function getCurrentData() {
            $.get('@(Url.Action("SettingsGet"))', {}, function(result) {
                if (result.Result.Type == 0) {
                    createKendoGrid(result.Data);
                }
            }, 'json');
        }

        var kendoDataSource;
        function createKendoGrid(results) {
            kendoDataSource = new kendo.data.DataSource({
                data: results,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number" },
                            Month: { type: "number" },
                            MonthS: { type: "string" },
                            Year: { type: "number" },
                            Hours: { type: "number" }
                        }
                    }
                },
                pageSize: 20
                //                    serverPaging: true,
                //                    serverFiltering: true,
                //                    serverSorting: true
            });

            $("#grid").kendoGrid({
                dataSource: kendoDataSource,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                pageable: true,
                scrollable: false,
                columns: [
                    {
                        hidden: true,
                        field: "Id",
                        attributes: { 'id': 'idCol' }
                    },
                    {
                        title: "MONTH",
                        field: "Month",
                        sortable: true,
                        width: "40%",
                        //filterable: false,
                        template: "<a style='cursor: pointer' onclick='openWindow(${Id})' title='Edit'>#:MonthS#</a>"
                    },
                    {
                        title: "YEAR",
                        field: "Year",
                        sortable: true
                    },
                    {
                        title: "HOURS",
                        field: "Hours",
                        sortable: true
                    }
//                    {
//                        width: 20,
//                        template: function(dataItem) {
//                            return dataItem.Active
//                                ? "<a onclick='recordRemove(" + dataItem.Id + ")' title='Delete' class='intelli-btn-delete'><span>Delete</span></a>"
//                                : "";
//                        }
//                    }
                ]
            });
        }

        function recordRemove(id) {
            if (ConfirmBox("", "Remove Settings?")) {
                $.post("@(Url.Action("SettingsRemove"))", {id: id}, function (data) {
                    if (data.Result.Type == 0) {
                        getCurrentData();
                    }
                }, 'json');
            }
        }
    </script>
}
