@using PCS.DataRepository.DataContracts
@{
    ViewBag.Title = "Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<StudentMenuItem> leftUpperMenu = ViewBag.leftUpperMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<StudentMenuItem> leftMiddleMenu = ViewBag.leftMiddleMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<RoleAreaForm> leftLowMenu = ViewBag.leftLowMenu as List<RoleAreaForm> ?? new List<RoleAreaForm>();
    List<TabMenuItem> tabsMenu = ViewBag.tabsMenu as List<TabMenuItem> ?? new List<TabMenuItem>();
}

<div id="column-left">

    <a class="logo" href="#" title=""><img src="../images/logo.png" width="229" height="120" alt="" /></a>

    <ul class="intelli-mainmenu" id="mainMenu">
        @foreach (StudentMenuItem item in leftUpperMenu)
        {
            <li><a href="@(Url.Action(item.href))" title=''>@(item.text)</a></li>
        }
    </ul>
    <ul class="intelli-mainmenu intelli-actions-menu" id="secondaryMenu">
        @foreach (StudentMenuItem item in leftMiddleMenu)
        {
            <li><a href='#' class='action_nav' onclick='@(item.href)();' title=''>@(item.text)</a></li>
        }
    </ul>

    <div class="intelli-custom-outerpanel">
        <ul class="intelli-cusom-toolbar" style="margin:0 -43px;" id="areas">
            @foreach (RoleAreaForm area in leftLowMenu)
            {
                <li><a href="@(Url.Action("SpecialistArea", new { areaId = area.Id }))" title=""><img src="~/images/@(area.Image).png" width="43" height="43" alt="" /><br /><span>@(area.Text)</span></a></li>
            }
        </ul>
    </div>
    <div class="intelli-copy">
        <span>Developed by</span>
        <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="../images/logoIntellimedia.png" with="131" height="23" alt="" /></a>
    </div>
</div><!-- /left column -->

<div id="column-right">
    <div data-role="content" id="content">
        <div class="intelli-content intelli-tabs">

            <ul class="intelli-tabs-panel" style="background:transparent;">
                @foreach (TabMenuItem tab in tabsMenu)
                {
                    string sub = (tab.SubItems == "" ? " " : tab.SubItems);
                    string title = Enum.GetName(typeof(PCSMvc.Models.TabItemEnum), tab.Type).Replace('_', ' ');
                    string rowId = tab.Id.ToString();
                    string typeId = tab.Type.ToString();
                    <li data-id="@(rowId)" data-type="@(typeId)"><a href="#intelli-tab-1">@(title)<br /><span class="small">@Html.Raw(sub)&nbsp;</span></a></li>
                }
                @*<li><a href="#intelli-tab-1">Current<br /><span class="small">&nbsp;</span></a></li>*@
                <li><span style="display:block; font-size:0.8em; font-weight:bolder;">Historic:</span><select class="intelli-year-select" data-role="none"><option value="1">...</option></select></li>
            </ul>
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                <h3>Progress</h3>
            </div>
            <div class="intelli-main-content ui-body ui-body-a" id="intelli-tab-1">

                <form method="post" action="somepage" class="editor">
                    <textarea name="content" class="richtext" style="width:100%;" rows="20" id="progressArea">@(ViewBag.content)</textarea>
                </form>

                <a href="#" class="intelli-btn-save" onclick="saveCurrentData();">Save</a>
                <a href="#" class="intelli-btn-cancel" onclick="cancelCurrentData();">Cancel</a>

            </div>

        </div>
    </div>
</div>
<div class="clear"></div>

@section pageJS{
    <script type="text/javascript">
        var beginContent;

        $(document).ready(function () {
            beginContent = $("#progressArea").val();
            CreateTinyMce();
            $(".intelli-tabs").tabs({
                activate: function (event, ui) {
                    var rowid = ui.newTab.attr('data-id');
                    var typeId = ui.newTab.attr('data-type');
                    $.post('@Url.Action("CurrentTabSave", new { controller = "Home" })', { index: ui.newTab.index() }, function () { }, 'json');
                    $.get('@Url.Action("ProgressGet", new { controller = "Home" })', { type: typeId, id: rowid }, function (data) {
                        if (data.Result.Type == 0) {
                            tinymce.get("progressArea").setContent(data.Data[0]);
                            beginContent = tinymce.get("progressArea").getContent();
                        }
                    }, 'json');
                }
            })
            $(".intelli-tabs").tabs("option", "active", parseInt(@(Session["SelectedTab"])));
        })
        function saveCurrentData() {
            var active = $(".intelli-tabs li.ui-tabs-active");
            var rowId = $(active).attr('data-id');
            var typeId = $(active).attr('data-type');
            $.post('@Url.Action("Progress", new { controller = "Home" })', { progress: tinymce.get("progressArea").getContent(), type: typeId, id: rowId }, function (data) {
                if (data.Result.Type == 0) {
                    beginContent = tinymce.get("progressArea").getContent();
                    MessageBox(null, "Success");
                }
            }, 'json');
        }

        function cancelCurrentData() {
            tinymce.get("progressArea").setContent(beginContent);
        }
    </script>
}