@using PCS.DataRepository.DataContracts
@model List<RoleAreaForm>
@{
    ViewBag.Title = "Specialist";
}

    <div class="intelli-login">
        
        <img src="~/images/logo.png" width="229" height="120" alt="" style="margin: 15px 30px 20px 30px;" />
        <ul class="intelli-cusom-toolbar" style="margin:20px 10px 30px 10px;">
        
            @foreach (RoleAreaForm area in Model)
            {
                <li><a href="@(Url.Action("SpecialistArea", new { areaId = area.Id }))" title=""><img src="~/images/@(area.Image).png" width="43" height="43" alt="" /><br /><span>@(area.Text)</span></a></li>
                //<li><a href="@(Url.Action("Goals"))" title=""><img src="~/images/@(area.Image).png" width="43" height="43" alt="" /><br /><span>@(area.Text)</span></a></li>
            }
            @*<li><a href="search.html" title=""><img src="images/icoStudents.png" width="43" height="43" alt="" /><br /><span>Students</span></a></li>
                <li><a href="timesummary.html" title=""><img src="images/icooffice.png" width="43" height="43" alt="" /><br /><span>Office</span></a></li>
                <li><a href="reportstudent.html" title=""><img src="images/icoReport.png" width="43" height="43" alt="" /><br /><span>Reports</span></a></li>*@
        </ul>
        <div style="text-align:right;">
        <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
    </div>
    <div class="intelli-copy" style="width:200px; margin:15px auto;">
        <span>Developed by</span>
        <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="~/images/logoIntellimedia.png" width="131" height="23" alt="" /></a>
    </div>
