@using PCS.DataRepository.DataContracts
@{
    ViewBag.Title = "StudentInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<StudentMenuItem> leftUpperMenu = ViewBag.leftUpperMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<StudentMenuItem> leftMiddleMenu = ViewBag.leftMiddleMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<RoleAreaForm> leftLowMenu = ViewBag.leftLowMenu as List<RoleAreaForm> ?? new List<RoleAreaForm>();
    List<TabMenuItem> tabsMenu = ViewBag.tabsMenu as List<TabMenuItem> ?? new List<TabMenuItem>();
}
<div id="column-left">

    <a class="logo" href="#" title=""><img src="../images/logo.png" width="229" height="120" alt="" /></a>

    <ul class="intelli-mainmenu" id="mainMenu">
        @foreach (StudentMenuItem item in leftUpperMenu)
        {
            <li><a href="@(Url.Action(item.href))" title=''>@(item.text)</a></li>
        }
    </ul>
    <ul class="intelli-mainmenu intelli-actions-menu" id="secondaryMenu">
        @foreach (StudentMenuItem item in leftMiddleMenu)
        {
            <li><a href='#' class='action_nav' onclick='@(item.href)();' title=''>@(item.text)</a></li>
        }
    </ul>

    <div class="intelli-custom-outerpanel">
        <ul class="intelli-cusom-toolbar" style="margin:0 -43px;" id="areas">
            @foreach (RoleAreaForm area in leftLowMenu)
            {
                <li><a href="@(Url.Action("SpecialistArea", new { areaId = area.Id }))" title=""><img src="~/images/@(area.Image).png" width="43" height="43" alt="" /><br /><span>@(area.Text)</span></a></li>
            }
        </ul>
    </div>
    <div class="intelli-copy">
        <span>Developed by</span>
        <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="../images/logoIntellimedia.png" width="131" height="23" alt="" /></a>
    </div>
</div><!-- /left column -->

<div id="column-right">
    <div data-role="content" id="content">
        <div class="intelli-content intelli-tabs">

           
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                <h3>Student Information</h3>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

@section pageJS{
    <script type="text/javascript">

        $(document).ready(function () {
            @*@if (Session["ChangeArea"] == "0")
            {
                Session["ChangeArea"] = "1";
                <text>
            document.location.href = "@(HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString())";
            </text>
            }*@
            $(".intelli-tabs").tabs();
        })
    </script>
}
