@using PCS.DataRepository.DataContracts
@using DataRepository.DataContracts
@{
    ViewBag.Title = "Student Reports";
    List<StudentMenuItem> menu = ViewBag.menu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
}

<div id="column-left">

    <a class="logo" href="#" title=""><img src="../images/logo.png" width="229" height="120" alt="" /></a>
    <div style="text-align:center;">
        <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
    <ul class="intelli-mainmenu" id="mainMenu">
        @foreach (StudentMenuItem item in menu)
        {
            <li><a href="@(Url.Action(item.href))" title=''>@(item.text)</a></li>
        }
    </ul>
    <div class="intelli-copy">
        <span>Developed by</span>
        <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="../images/logoIntellimedia.png" width="131" height="23" alt="" /></a>
    </div>
</div><!-- /left column -->

<div id="column-right">
    <div data-role="content" id="content">
        <div class="intelli-content intelli-tabs">
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                <h3>Student Reports</h3>
            </div>
            <div class="intelli-main-content ui-body ui-body-a">
                <div class="intelli-search-field" style="position: relative; width: 95%;">
                    <input type="text" value="Search..." onblur="if(value=='') value = 'Search...'" onfocus="    if(value=='Search...') value = ''" data-role="none" class="intelli-textfield" style="width: 90%;" id="searchRequest" />
                    <a id="buttonSearch" href="javascript:;" class="search-btn" style="right: 50px;" onclick="searchStudents();"><img src="/images/icoSearch.png" width="30" height="30" alt="" /></a>
                    <a href="javascript:;" title="How to search?" onclick="showHelp();" style="display: block; height: 36px; position: absolute; right: 1%; top: 9px; width: 30px;"><img src="../images/icoMenu.png" width="30" height="30" alt="" /></a>
                </div>
                <div id="searched"></div>
                <div style="display:none;" id="searchedParams"></div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div id="informationPopup" class="intelli-popup-window intelli-window-poup-width" style="display: none;">
    <span class="title">How to search</span> <a href="#" class="btclose"><span>Close Window</span></a>
    <div class="wrap">
        Free Text:  text matching any of the displayed columns OR Targeted search:  name=|asn=|grade=|school= will match the text only in the indicated column<br /><br />
        Columns for search:<br />
        • name<br />
        • dob<br />
        • number<br />
        • grade<br />
        • district<br />
        • school<br />
    </div>
</div>

@section pageJS{
    <script type="text/javascript">
        var beginContent;
        var schools = [];
        $(document).ready(function () {
            $("#searchRequest").keydown(function (e) {
                var code = e.which; // recommended to use e.which, it's normalized across browsers
                if (code == 13) searchStudents();
            })
            getData();
        })

        function getData() {
            $.get('@(Url.Action("StudentReportsGet"))', {}, function (result) {
                console.log(result);
                createKendoGrid(result.Data, "searched");
            }, 'json');

            $.get('@(Url.Action("OrganiztionSchoolsGet"))', {}, function (result) {
                console.log(result);
                schools = result.Data;
            }, 'json');
        }

        function createKendoGrid(results, grid) {
            $("#" + grid).empty();
            $("#" + grid).kendoGrid({
                dataSource: {
                    data: results,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                School: { type: "string" },
                                Name: { type: "string" },
                                Gender: { type: "string" },
                                Dob: { type: "date" },
                                Grade: { type: "string" },
                                Services: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                pageable: true,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            eq: "Is equal to"
                        }
                    }
                },
                scrollable: false,
                columns: [
                    {
                        hidden: true,
                        field: "Id",
                        attributes: { 'id': '#=Id#' }
                    },
                    {
                        title: "SCHOOl",
                        field: "School",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 200,
                        filterable: {
                            ui: schoolFilter
                        }
                    },
                    {
                        title: "STUDENT NAME",
                        field: "Name",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        filterable: false,
                        template: '<a href="@(Url.Action("StudentReport"))?id=#=Id#" title="Select">#= Name #</a>'
                    },
                    {
                        title: "GENDER",
                        field: "Gender",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 200,
                        filterable: false
                    },
                    {
                        title: "DOB",
                        field: "Dob",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 200,
                        filterable: false,
                        template: "#= kendo.toString(kendo.parseDate(Dob, 'yyyy-MM-dd'), 'MMMM dd, yyyy') #"
                    },
                    {
                        title: "GRADE",
                        field: "Grade",
                        width: 200,
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        filterable: false
                    },
                    {
                        title: "SERVICES",
                        field: "Services",
                        width: 200,
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        filterable: false
                    }
                ]
            });

            function schoolFilter(element) {
                element.kendoDropDownList({
                    dataSource: schools,
                    dataValueField: "Id",
                    dataTextField: "Title",
                    optionLabel: "--Select School--"
                });
            }
        }

        function searchStudents() {
            var data = $("#searchRequest").val();
            if (data == "" || data == "Search...") {
                $("#searchedParams").hide();
                $("#searched").show();
            }
            else {
                $("#searchedParams").show();
                $("#searched").hide();
                $.get('@(Url.Action("StudentReportsGetParams"))', { filters: data }, function (result) {
                    console.log(result);
                    //gridElem.destroy();
                    //gridElem.wrapper.empty();
                    createKendoGrid(result.Data, "searchedParams");
                }, 'json');
            }
        }

        function showHelp() {
            $("#informationPopup").lightbox_me({
                centered: true, onLoad: function () {
                    $("#informationPopup").find("input:first").focus();
                }
            });
        }
    </script>
}
