@using PCS.DataRepository.DataContracts
@{
    ViewBag.Title = "Time Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<StudentMenuItem> leftUpperMenu = ViewBag.leftUpperMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<StudentMenuItem> leftMiddleMenu = ViewBag.leftMiddleMenu as List<StudentMenuItem> ?? new List<StudentMenuItem>();
    List<RoleAreaForm> leftLowMenu = ViewBag.leftLowMenu as List<RoleAreaForm> ?? new List<RoleAreaForm>();
    List<TimeRecordFrom> timeRecords = ViewBag.TimeRecords as List<TimeRecordFrom> ?? new List<TimeRecordFrom>();
}

<div class="intelli">
    <div data-role="page" class="wrapper-content">
        <input type="hidden" id="studentId" />

        <div id="column-left">

            <a class="logo" href="#" title=""><img src="../images/logo.png" width="229" height="120" alt="" /></a>

            <ul class="intelli-mainmenu" id="mainMenu">
                @foreach (StudentMenuItem item in leftUpperMenu)
                {
                    <li><a href="@(Url.Action(item.href))" title=''>@(item.text)</a></li>
                }
            </ul>
            <ul class="intelli-mainmenu intelli-actions-menu" id="secondaryMenu">
                @foreach (StudentMenuItem item in leftMiddleMenu)
                {
                    <li><a href='#' class='action_nav' onclick='@(item.href)();' title=''>@(item.text)</a></li>
                }
            </ul>

            <div class="intelli-custom-outerpanel">
                <ul class="intelli-cusom-toolbar" style="margin:0 -43px;" id="areas">
                    @foreach (RoleAreaForm area in leftLowMenu)
                    {
                        <li><a href="@(Url.Action("SpecialistArea", new { areaId = area.Id }))" title=""><img src="~/images/@(area.Image).png" width="43" height="43" alt="" /><br /><span>@(area.Text)</span></a></li>
                    }
                </ul>
            </div>
            <div class="intelli-copy">
                <span>Developed by</span>
                <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="../images/logoIntellimedia.png" with="131" height="23" alt="" /></a>
            </div>
        </div><!-- /left column -->

        <div id="column-right">
            <div data-role="content" id="content">
                <div class="intelli-content intelli-tabs">

                    <ul class="intelli-tabs-panel" style="background:transparent;">
                        <li><a href="#intelli-tab-1">Current<br /><span class="small">&nbsp;</span></a></li>
                        <li><span style="display:block; font-size:0.8em; font-weight:bolder;">Historic:</span><select class="intelli-year-select" data-role="none"><option value="1">...</option></select></li>
                    </ul>
                    <div class="intelli-main-content-header ui-bar ui-bar-a">
                        <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                        <!--a class="ui-btn ui-nodisc-icon ui-btn-inline ui-btn-icon-left ui-btn-b ui-icon-bars ui-btn-icon-notext" href="javascript:;" id="togglepanel">Panel</a-->
                        <h3>Time Summary</h3>
                    </div>
                    <div class="intelli-main-content ui-body ui-body-a">
                        <p>
                            <table width="50%" border="0" cellspacing="0">
                                <tr>
                                    <td width="6%" align="center">
                                        From
                                    </td>
                                    <td width="27%">
                                        <input title="defaults to current Month" class="intelli-textfield intelli-datapicker date" type="text" value="" data-role="date" id="startDate" />
                                    </td>
                                    <td width="6%" align="center">
                                        to
                                    </td>
                                    <td width="27%">
                                        <input title="defaults to current Month" class="intelli-textfield intelli-datapicker date" type="text" value="" data-role="date" id="endDate" />
                                    </td>
                                </tr>
                            </table>
                        </p>
                        <p>
                            <div id="timerecordsTable"></div>
                        </p>
                        <p>
                            <a href="#" onclick='addNew();' class="intelli-btn-white editPopup">Add New Record</a>
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="editPopupWindow" class="intelli-popup-window intelli-window-poup-width" style="display: none;">
    <span class="title">Time Record</span> <a href="#" class="btclose"><span>Close Window</span></a>
    <div class="wrap">
        <input type="hidden" id="timeId" />
        <ul class="intelli-simple-list">
            <li><label>Date:</label><input class="intelli-textfield" type="text" value="" id="date" /></li>
            <li><label>Time:</label><input class="intelli-textfield" type="text" value="" id="time" /></li>
            <li>
                <label>Code:</label>
                <select class="intelli-textfield" style="width:100%;" id="code">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </li>
            <li>
                <label>Notes:</label>
                <textarea class="simple" name="content" rows="5" style="width:99%" id="notes"></textarea>
            </li>
        </ul>
        <a href="" onclick="save();" class="intelli-btn-save intelli-btn-popupsave" style="margin-top:10px;">Save</a>
    </div>
</div>

@section pageJS{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".date").kendoDatePicker({
                format: "MMMM dd, yyyy",
                change: getData
            });
            getData();
        })

        function getData() {
            var DateRange = {};
            DateRange.startDate = $("#startDate").val();
            DateRange.endDate = $("#endDate").val();
            $.get('@(Url.Action("TimerecordsOfficeGet"))', DateRange, function (result) {
                console.log(result);
                createKendoGrid(result.Data);
            }, 'json');
        }

        function edit(record) {
            var tr = $($(record).parents('tr'));
            var id = parseInt($(tr.children('td[id="idCol"]')).text());
            $.get('@(Url.Action("TimerecordsGetOne"))', { recordId: id }, function (results) {
                var result = results.Data[0];
                $("#timeId").val(result.Id);
                $("#code").val(result.Code);
                $("#time").val(result.Time);
                $("#notes").val(result.Notes.replace(/<br\s*\/?>/mg, "\n"));
                $("#editPopupWindow").lightbox_me({
                    centered: true, onLoad: function () {
                        $("#editPopupWindow").find("input:first").focus();
                    }
                });
                $("#date").kendoDatePicker({
                    format: "MMMM dd, yyyy",
                    parseFormats: ["yyyy-MM-dd"],
                    value: result.Date
                });
            }, 'json');
        }

        function createKendoGrid(results) {
            $("#timerecordsTable").empty();
            $("#timerecordsTable").kendoGrid({
                dataSource: {
                    data: results,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                Date: { type: "date" },
                                Time: { type: "int" },
                                Code: { type: "string" },
                                Notes: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                pageable: true,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                scrollable: false,
                columns: [
                    {
                        hidden: true,
                        field: "Id",
                        attributes: { 'id': 'idCol' }
                    },
                    {
                        title: "DATE",
                        field: "Date",
                        //template: "#= kendo.toString(date,'yyyy-MM-dd') #",
                        width: 180,
                        filterable: false,
                        template: "<a href='javascript:;' onclick='edit(this);' title='Edit'>#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'MMMM dd, yyyy') #</a>"
                    },
                    {
                        title: "TIME",
                        field: "Time",
                        sortable: true,
                        width: 120,
                        filterable: false,
                        template: "<a href='javascript:;' onclick='edit(this);' title='Edit'>#= Time #</a>"
                    },
                    {
                        title: "CODE",
                        field: "Code",
                        width: 120,
                    },
                    {
                        title: "NOTES",
                        encoded: false,
                        field: "Notes",
                        filterable: false
                    },
                    {
                        width: 20,
                        template: function (dataItem) {
                            return "<a href='#' onclick='deleteRecord(this);' title='Delete' class='intelli-btn-delete'><span>Delete</span></a>";
                        }
                    },
                ]
            });
        }

        function addNew() {
            $("#timeId").val("-1");
            $("#code").val("");
            $("#time").val("");
            $("#notes").val("");
            $("#editPopupWindow").lightbox_me({
                centered: true, onLoad: function () {
                    $("#editPopupWindow").find("input:first").focus();
                }
            });
            $("#date").kendoDatePicker({
                format: "MMMM dd, yyyy",
                value: new Date()
            });
        }

        function save() {
            var data = {};
            data.Id = $("#timeId").val();
            data.Code = $("#code").val();
            data.Time = $("#time").val();
            data.Date = $("#date").val();
            data.Notes = $("#notes").val().replace(/\n\r?/g, '<br />');
            $.post('@Url.Action("TimerecordsOffice", new { controller = "Home" })', data, function (data) {
                if (data.Result.Type == 0) {
                    getData();
                    MessageBox(null, "Success");
                }
            }, 'json');
        }

        function deleteRecord(e) {
            if (confirm("Are you sure you want to delete this record?")) {
                var tr = $($(e).parents('tr'));
                var id = parseInt($(tr.children('td[id="idCol"]')).text());
                $.post('@Url.Action("TimerecordsOfficeDelete", new { controller = "Home" })', { recordId: id }, function (data) {
                    if (data.Result.Type == 0) {
                        getData();
                        MessageBox(null, "Success");
                    }
                }, 'json');
            }
        }
    </script>
}
