@using PCSMvc.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/neededscripts")
</head>
<body class="intelli intelli-manager">
    @if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="nNote nFailure">
            <p>
                <strong>Error: </strong>@ViewBag.Error
            </p>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.SelectedMenuItem))
    {
        <input type="text" id="selectedMenuItem" class="hidden" value="@(ViewBag.SelectedMenuItem)" />
    }
    <div data-role="page" class="wrapper-content">
        <div id="column-left">
            <a class="logo" href="#@Url.Action("PCSManager", "Home")" title="">
                <img src="/images/logo-manager.png" width="229" height="120" alt="" />
            </a>
            <div style="text-align: center;">
                <a href="@(Url.Action("Logout", "Home"))" title="">Logout</a></div>
            @{
                switch ((string)ViewBag.SelectedMenuItem)
                {
                    case "Reports":
                        <ul class="intelli-mainmenu">
                            <li><a href="@(Url.Action("PCSManagerReportTime", "Home"))" title="">Time Report</a></li>
                            <li><a href="@(Url.Action("PCSManagerReportCase", "Home"))" title="">Case Load</a></li>
                        </ul>
                        break;
                    case "Specialist":
                        <ul class="intelli-mainmenu">
                            <li><a href="@(Url.Action("PCSManager", "Home"))" title="">Manage</a></li>
                            <li><a href="@(Url.Action("SpecialistRequestSupport", "Home"))" title="">Support Request</a></li>
                        </ul>
                        break;
                    case "Organizations":
                        <ul class="intelli-mainmenu">
                            <li><a href="#@(Url.Action("Organizations", "Home"))" title="">Districts</a></li>
                        </ul>
                        break;
                }
            }
            <div class="intelli-custom-outerpanel">
                <ul class="intelli-cusom-toolbar" style="margin: 5px -30px;">
                    <li data-ico="@(PCSManagerIconsMenu.Specialist.ToString())"><a href="@(Url.Action("PCSManagerSpecialists", "Home"))" title="">
                        <img src="/images/icoSpecialist.png" width="43" height="43" alt="" /><br />
                        <span>Specialists</span> </a></li>
                    <li data-ico="@(PCSManagerIconsMenu.Organizations.ToString())"><a href="@(Url.Action("Organizations", "Home"))" title="">
                        <img src="/images/icooffice.png" width="43" height="43" alt="" /><br />
                        <span>Organizations</span> </a></li>
                    <li data-ico="@(PCSManagerIconsMenu.Students.ToString())"><a href="manager_search.html"
                        title="">
                        <img src="/images/icoStudents.png" width="43" height="43" alt="" /><br />
                        <span>Students</span> </a></li>
                    <li data-ico="@(PCSManagerIconsMenu.Reports.ToString())"><a href="@(Url.Action("PCSManagerReportTime", "Home"))" title="">
                        <img src="/images/icoReport.png" width="43" height="43" alt="" /><br />
                        <span>Reports</span> </a></li>
                    <li data-ico="@(PCSManagerIconsMenu.Settings.ToString())"><a href="@(Url.Action("PCSManagerSettings", "Home"))" title="">
                        <img src="/images/icoSettings.png" width="43" height="43" alt="" /><br />
                        <span>Settings</span> </a></li>
                </ul>
            </div>
            <div class="intelli-copy">
                <span>Developed by</span> <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc.">
                    <img src="/images/logoIntellimedia.png" with="131" height="23" alt="" />
                </a>
            </div>
        </div>
        @RenderBody()
    </div>
    @RenderSection("pageJS", false)
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        kendo.culture("es-DO");

        //        $(document).bind("mobileinit", function () {
        //            $.mobile.ajaxEnabled = false;
        //        });
        $.extend($.mobile, {
            linkBindingEnabled: false,
            ajaxEnabled: false
        });

        $(document).ready(function () {
            $("li[data-ico='" + $("#selectedMenuItem").val() + "']").addClass("intelli-current");
        });
    </script>
</body>
</html>
